<!DOCTYPE html>
<html  lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" >
        <title>Take Attendence</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"> 
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="Navigation">
            <h1> Attendence Management System </h1>
        </div>

        <div id="subjectName">
           <% var today = new Date(); %>
            <% var dd = String(today.getDate()).padStart(2, '0'); %>
           <%  var mm = String(today.getMonth() + 1).padStart(2, '0');  %>
            <% var yyyy = today.getFullYear(); %>

           <% today = dd + '/' + mm + '/' + yyyy; %>
          
            <h2><%= subject.toUpperCase() %> [<%= year.toUpperCase() %> ]</h2>
            
        </div>
        
        <h3 style="position:absolute;left:12%;top:22%;color:red;">Take Attendence [ <%= today %> ]</h3>
        <form action="/TeacherHome/ClassesForAttendenc/TakeAttendence" method="POST">
        <div class="table-container">
            <table>
                <tr>
                    <th>
                        #Roll
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Dept.
                    </th>
                    <th>
                        Semester
                    </th>
                    <th class="checkBoxContainer">
                        Mark Attend
                    </th>
                </tr>


                <%  Array.prototype.forEach.call(newStudents, student =>{  %>
                   
                    <tr>
                        <td><%= student.roll %></td>
                        <td> <%= student.fname.toUpperCase() %> <%= student.lname.toUpperCase() %></td>
                        <td> <%= student.dept.toUpperCase() %></td>
                        <td> <%= student.sem.toUpperCase() %></td>
                        <td class="checkBoxContainer"> <input type="checkbox"  name="<%= student._id %>"></td>

                    </tr>

               <% }); %>

                
            </table>
            <button type="submit" class="btn btn-success" id="submit_button" name="sub" value="<%=subject %>">Submit</button>
        </div>
    </form>
      
    </body>

    <style>
    .Navigation{
    background-color: green;
    text-align: center;
    height:56px;
    color:white;
    margin-top:0px;
    }

    #subjectName{
        position:absolute;
        left:38%;
        top:10%;
    }

    table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
    background-color: rgb(79, 65, 141);
    text-align: center;
  }
  

  table{
    width:76%;
   
  }

  table tr{
    height:45px;
  }
.table-container{
    position:absolute;
    left:20%;
    top:33%;
    width:76%;
    height:auto;
}
.checkBoxContainer{
    width: 12%;
}

#submit_button{
    position:absolute;
    left:71%;
    margin-top: 25px;
}
    </style>
</html>