<!DOCTYPE html>
<html lang="en" dir="ltr" >
    <head>
        <meta charset="utf-8" > 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <title>
            1ST
        </title>
        
    </head>
    <body>
        <div class="Navigation">
           <span> <i class="fa-solid fa-bars fa-2x"></i></span>
            <h1> Attendence Management System </h1>
          </div>
          
          <div id="heading">  <h2>Assign Teacher To class </h2></div>

          <div class="assignTeacherArea">
           

            <form  action="/Admin/assignTeacher/teacherAssigningPage" method="POST">

                <ul>


                    <li id="one">
                             <span class="required">Department</span>
                 
                            <input type="text" value="<%=depar.toUpperCase() %>" disabled >
                     </li>
                
                    <li id="two">
                              <span class="required">
                               Year
                             </span>
                            <input type="text" value="<%= yr.toUpperCase() %>" disabled>
                    </li>
                    
                    <li id="three">
                             <span class="required">Total Subjects</span>
                       
                             <input type="text" disabled value="<%= totalSub %>">
                    </li>
                    
                    <li id="four">
                            <span class="required">Semester</span>
                             <input type="text" disabled value="<%= seme %>">
                    </li>

                    <div id="five">
                    <%var count =totalSub %>
                    <% console.log(count) %>
                    <% for(var i=1;i<= count; i++){ %>

                        <li>
                            <ul class="inner-list">
                                <li>
                                    <span class="subjspan"> Subject<%= i %><span style="color:red">*</span></span>
                                    <input type="text" required name="sub<%= i %>">
                                </li>

                                <li class="teacher-list">
                                    <span class="teacherSpan">
                                        Teacher<%= i %><span style="color:red">*</span>
                                    </span>
                                     
                                        <select name="teacher<%= i %>">
                                            <% newTeachersList.forEach(function(newTeacher){ %>
                                            <option value="<%= newTeacher.collegeId %>">
                                                <%= newTeacher.fname.toUpperCase() %> <%= newTeacher.lname.toUpperCase() %>
                                            </option>
                                            <% });  %>
                                        </select>
                                   
                                   
                                </li>

                             </ul>
                        </li>

                    <% } %>
                   
                   
                </div>






                <li id="nine">
                    <a href="">
                    <button type="submit" class="btn btn-success"  >Continue </button>
                    </a>
                </li>
                   
                </ul>
               
            </form>


          </div>
          </div>
    </body>





    <style>

body{
    margin:0;
    background-color: #034f84;
    height:auto;
}


/* Navigation bar */
.Navigation{
  
  position:relative;
  background-color: green;
  top:-5px;
  height:55px;
  width:100%;
  color:aliceblue;
  font-size: large;
  
  margin:0;
  
  
}

.Navigation span{
    position:relative;
    top:10px;
    left:15px;
}

.Navigation h1{
    position:absolute;
    left:300px;
    top:1px;
}



#heading{
    position:absolute;
    top:62px;
    left:124px;
    width:78%;
    background-color: antiquewhite;
    box-shadow: 10px 8px 17px 11px rgba(0, 0, 0, 0.2);
    border:2px solid black;
    border-radius: 0.5rem;
    text-align: center;
}
/*     CREATE AREA OF STUDENT             */
.assignTeacherArea{
    position:absolute;
    left:108px;
    top:115px;
    background-color: antiquewhite;
    height:515px;
    width:78%;
    margin:15px;
    display: inline-block;
    box-shadow: 10px 8px 17px 11px rgba(0, 0, 0, 0.2);
    border:2px solid black;
    border-radius: 0.5rem;
}
ul li{
   list-style-type: none;
}

ul li:nth-child(even){
    display: inline;
}


/*      FOR ALL INPUT TAG IN CREATE AREA            */
ul li input{
    
    width:300px;
    height:29px;
}

/*      FOR SELECT TAG IN CREATE AREA            */
ul li select {
    width:300px;
    height:29px;
}

/*TO ADD  ASTERISK TO REAQUIRE */
.required:after {
    content:" *";
    color: red;
  }



/*     FIRST NAME             */
#one{
    position:absolute;
    top:14%;
    left:7%;
}
#one span{
    position:absolute;
    top:-30px;
    left:-6%;
}


/*    LAST NAME              */

#two{
    position:absolute;
    left:50%;
    top:14%;
}

#two span{
    position:absolute;
    left:-2%;
    top:-30px;
}

/*    ROLL NO              */
#three{
    position:absolute;
    top:28%;
    left:7%;
}
#three span{
    position:absolute;
    top:-27px;
    left:-6%;
}


/*           SEMESTER       */
#four{
    position:absolute;
    left:50%;
    top:28%;
}

#four span{
    position:absolute;
    left:-4%;
    top:-24px;
}

#five{
    position:absolute;
    top:41%;
    left:-3%;
}


/*          CREATE BUTTON        */
#nine{
    position:absolute;
    left:83%;
    top:89%;
}

  

.inner-list li{
    display: inline;
    
   
}

.inner-list{
    padding-bottom:30px;
}

.subjspan{
    position:relative;
    top:-25px;
    left:50px;
    
}

.teacherSpan{
     position:relative;
     top:-25px;
     left:50px;
}
.teacher-list{
    padding-left:78px;
}
    </style>
</html> 